/* Styles for the app container */
.App{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}
/* Styles for the grid of cards */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

/* Styles for the information container */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

/* Styles for the information text */
.info_text { 
 text-align: center;
 vertical-align: middle;
}

/* Styles for win information box*/
.win{
    position: absolute;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid green;
    background-color: white;
    z-index: 100;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);

}

/* Styles for lose information box*/
.lose{
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid red;
    background-color: white;
    z-index: 100;
    height: auto;
    width: 200px;
    padding: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}

/* Styles for the footer*/
.footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
